@use "src/assets/colors";
@use "src/assets/common";

.chat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: colors.$secondary;
  object-fit: cover;

  > * {
    height: 100%;
    width: 100%;
    padding: 15%;
    color: rgba(255, 255, 255, 75%);
  }
}