@use "src/assets/colors";
@use "src/assets/common";

.chat-settings {
  &__info {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 20px;

    .chat-settings__avatar {
      width: 75px;
      height: 75px;
    }

    .chat-settings__title {
      font-size: 18px;
    }
  }
}