$primary: #1E1F22;
$secondary: #2B2D30;
$accent: #464a62;

$primary-input: #2B2D30;

$primary-button: #394167;
$secondary-button: #3a3d41;
$danger: #bd3535;

$primary-text: #eceff3;
$secondary-text: #bbbcc0;